.profile-content{
    display: flex;
    justify-content: space-between;
}

.profile-content .profile-contact{
    margin-right: 400px;
}

.profile-content h3{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.profile-content label{
    font-size: 1.5rem;
}

.profile-content .profile-input{
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-input .name{
    width: 250px;
}

.profile-input input{
    font-size: 1.1rem;
}

.form .class-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn{
    width: 200px;
    height: 40px;
    background: #555;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}